# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore dataset zip files
*.zip
Iris.csv

# Ignore SQLite database files
*.sqlite

# Ignore processed and split dataset files
iris_processed.csv
train.csv
test.csv
y_train.csv
y_test.csv
